@import "./../scss/mixin.scss";
@import "./../scss/config.scss";
.jtjg_header{
  @include bgImg-height(677px,'./../../imgs/aboutUs/jg/jg.png',cover);
  h2{
    margin: 0 !important;
    padding-top: 277px;
    font-size: 57px;
    color: #F5F3F3;
    font-weight: 400;
    line-height: 70px;
  }
}
.jtjg_ms{
  .container{
    h2{
      color: #FF0033 !important;
      margin: 0 !important;
      font-size: 66px !important;
      font-weight: 800 !important;
      line-height: 66px !important;
      margin-top: 170px !important;
      z-index: 10;
      position: relative;
    }
    .fgx{
      width:141px;
      height:14px;
      background:rgba(233,233,233,1);
      position: relative;
      margin-left: -19px;
      margin-top: -6px;
    }
    p{
      font-size: 30px;
      color: #FF0033;
      font-weight: bold;
      margin-top: 61px;
      line-height: 78px;
    }
    .jtjg_par{
      margin-top: 70px;
      @include bgImg(101%,631px,'./../../imgs/aboutUs/jg/jg2.png',contain);
    }
  }
}
.jtjg__ry{
  background-color: #FF0033;
  padding-top: 108px;
  padding-bottom: 130px;
  margin-top: 100px;
  .container{
    h4{
      font-size: 30px;
      font-weight: 800;
      line-height: 78px;
      color: #F3F3F3;
    }
    .pr_ry{
      margin-top: 70px;
      @include bgImg(100%,429px,'./../../imgs/aboutUs/jg/jg3.png',contain);
    }
  }
}
.jtjg_fzlc{
      @include bgImg(100%,889px,'./../../imgs/aboutUs/jg/jg4_bg.png',contain);
      padding: 107px 0;
      .container{
        h3{
          color: #FFFFFF;
          font-size: 30px;
          font-weight: bold;
          line-height: 78px;
        }
        .bg4{
          margin-top: 99px;
          margin-bottom: 17px;
          @include bgImg(100%,483px,'./../../imgs/aboutUs/jg/jg4.png',contain);
        }

      }
    }

