@import "./../scss/mixin.scss";
@import "./../scss/config.scss";

.gjss_header{
  @include bgImg-height(677px,'./../../imgs/aboutUs/gsjj/gsjj.png',cover);
  .container{
    h2{
      margin: 0 !important;
      padding-top: 277px;
      font-size: 57px;
      color: #F5F3F3;
      font-weight: 400;
      line-height: 70px;
    }
  }
}
.gjss_ms{
  .container{
    h2{
      color: #FF0033 !important;
      margin: 0 !important;
      font-size: 66px !important;
      font-weight: 800 !important;
      line-height: 66px !important;
      margin-top: 170px !important;
      z-index: 10;
      position: relative;
    }
    .fgx{
      width:141px;
      height:14px;
      background:rgba(233,233,233,1);
      position: relative;
      margin-left: -19px;
      margin-top: -6px;
    }
    p{
      font-size: 18px;
      color: #000;
      font-weight: 400;
      margin-top: 61px;
      width: 560px;
      line-height: 29px;
    }
    .gjss_par{
      margin-top: 70px;
      @include flex($col:flex-end);
      .div_imgs{
        @include bgImg(560px,674px,'./../../imgs/aboutUs/gsjj/c.png',cover);
      }
      .div_ms{
        margin-left: 72px;
        h4{
          color: #FF0033;
          font-size: 30px;
          font-weight: 800;
          line-height: 78px;
          //font-family:  serif;
        }
        span{
          display: inline-block;
          margin-top: 40px;
          font-size: 18px;
          font-weight: 400;
          color: #000;
          line-height: 27px;
          width: 567px;
        }
      }
    }
  }
}
.gjss_ry{
  background-color: #FF0033;
  padding-top: 108px;
  padding-bottom: 130px;
  margin-top: 100px;
  text-align: center;
  .container{
    h4{
      font-size: 30px;
      font-weight: 800;
      line-height: 78px;
      color: #F3F3F3;
    }
    .pr_ms{
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
      color: #ffffff;
    }
    .pr_ry{
      margin-top: 90px;
      @include flex();

      div{
        p{
          color: #ffffff;
          &:first-child{
            font-weight: bold;
            font-size: 36px;
            font-family: szzt, serif;
            line-height:41px;
            span{
              font-size: 82px;
            }
          }
          &:last-child{
            font-size:22px;
            //font-family: DINCondensed, serif;
            font-weight:400;
            color:#ffffff;
            line-height:41px;
          }
        }
      }
    }
  }
}
.gjss_fzlc{
      background: #F3F3F3;
      padding: 107px 0;
      .container{
        text-align: center;
        h3{
          color: #FF0033;
          font-size: 66px;
          font-weight: 800;
          line-height: 60px;
          position: relative;
          z-index: 10;
        }
        .fgx{
          display: inline-block;
          width:141px;
          height:14px;
          background:#E9E9E9;
        }
        .ms_p{
          font-size:18px;
          font-weight:400;
          color:#333333;
          margin-top: 55px;
          line-height:27px;
        }
        .timeline{
          margin-top: 97px;
          padding-bottom:80px;
          .clearfix-time{
            display:block;
            zoom:1;
            &:after{
              content:'\20';
              display:block;
              clear:both;
              visibility:hidden;
              line-height:0;
              height:0
            }
          }
          ul{
            background:url(./../../imgs/aboutUs/gsjj/tx.png) repeat-y center;
            li{
              &:before{
                background:url(./../../imgs/aboutUs/gsjj/yx.png) no-repeat center center;
                right:-46px;
                top:12px;
                content:"";
                display:block;
                position:absolute;
                width:21px;
                height:21px
              }
              h4{
                position:relative;
                display:block;
                font-size:40px;
                font-family: CenturyGothic, serif;
                font-weight:bold;
                color:#323232;
                line-height:41px;
              }
              &:nth-child(2n):before{
                background:url(./../../imgs/aboutUs/gsjj/yx.png) no-repeat center center;
                left:-45px;
                top:12px;
                right:auto;
                content:"";
                display:block;
                position:absolute;
                width:21px;
                height:21px
              }
              &:nth-child(1){margin-top:0}
              float:left;
              width:45%;
              text-align:right;
              position:relative;
              margin-top:330px;
              left: 22px;
              right: auto;
              img{
                position:absolute;
                left: -112px;
                right: auto;
                top: 0;
              }
              &:nth-child(2n){
                float:right;text-align:left; margin-top:230px;
                right: 22px;
                left: auto;
                img{
                  position:absolute;
                  right: -112px;
                  left: auto;
                  top: 0;
                }
              }
              &:last-child{
                margin-top: 300px;
              }
            }
          }
          .f12{font-size:12px}
          .f30{font-size:30px}
          .f24{font-size:24px}
          .f14{font-size:18px;
            font-weight:300;
            color:rgba(30,29,34,1);
            line-height:30px;
            width: 90%;
            display: inline-block;
          }

          .future{text-align:center;font-size:20px;
            font-weight:400;
            color:rgba(51,51,51,1);
            line-height:27px;
            margin-top: 23px}
        }

      }
    }

