@import "./../scss/mixin.scss";
.gywm_header {
  @include bgImg-height(677px, "./../../imgs/contactUs/gywm.png", auto);
  h2 {
    margin: 0 !important;
    padding-top: 232px;
    font-size: 58px;
    color: #f5f3f3;
    font-weight: bold;
    line-height: 77px;
  }
}

.gywm_ms {
  .container {
    h2 {
      color: #ff0033 !important;
      margin: 0 !important;
      font-size: 66px !important;
      font-weight: 800 !important;
      line-height: 66px !important;
      margin-top: 99px !important;
      z-index: 10;
      position: relative;
    }
    .fgx {
      width: 141px;
      height: 14px;
      background: rgba(233, 233, 233, 1);
      position: relative;
      margin-left: 0;
      margin-top: -6px;
    }
    span {
      font-size: 18px;
      color: #000000;
      font-weight: 300;
      margin-top: 57px;
      line-height: 27px;
      display: inline-block;
    }
    p {
      font-size: 30px;
      color: #ff0033;
      font-weight: bold;
      margin-top: 61px;
      line-height: 78px;
    }
    .address {
      margin-top: 47px;

      .address-item {
        width: calc((100% - 60px) / 3);
        float: left;
        background: #f3f3f3ff;
        height: 220px;
        text-align: center;
        margin-right: 30px;
        margin-bottom: 30px;
        color: rgba(51, 51, 51, 1);
        line-height: 24px;
        cursor: pointer;
        &:hover {
          background: #ff0033;
          color: #ffffff;
          span {
            color: #ffffff !important;
          }
          .icon-address {
            @include bgImg(
              31px,
              38px,
              "./../../imgs/contactUs/dingwei.png",
              auto
            );
          }
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        .icon-address {
          @include bgImg(
            31px,
            38px,
            "./../../imgs/contactUs/dingwei2.png",
            auto
          );
          margin-top: 21px;
          margin-bottom: 26px;
        }
        h3 {
          font-size: 20px;
          font-weight: bold;
        }
        span {
          &:last-child {
            width: 243px;
            font-size: 16px;
            font-weight: 400;
            margin-top: 14px;
          }
        }
      }
      .active {
        background: #ff0033;
        color: #ffffff;
        span {
          color: #ffffff !important;
        }
        .icon-address {
          @include bgImg(
            31px,
            38px,
            "./../../imgs/contactUs/dingwei.png",
            auto
          );
        }
      }
    }
  }
}

.gywm__ry {
  height: 564px;
  background-color: #000000;
  .ry_left {
    height: 564px;
    width: 100% - 941px;
    color: #f3f3f3;
    margin-right: 941px;

    h2 {
      margin-top: 75px;
      font-size: 30px;
      font-weight: 400;
      line-height: 30px;
    }
    .fjx {
      width: 24px;
      height: 2px;
      background-color: #f3f3f3;
      margin-top: 32px;
      margin-bottom: 25px;
    }
    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
      display: inline-block;
      width: 410px;
      &:last-child {
        margin-top: 12px;
      }
    }
    h1 {
      margin-top: 75px;
      font-size: 80px;
      font-weight: bold;
      font-family: szzt, serif;
      sup {
        font-size: 40px;
      }
    }
  }
  .ry_right {
    float: right;
    @include bgImg(941px, 564px, "./../../imgs/contactUs/bg_bg.png", auto);
  }
}

.btn {
  display: inline-block;
  width: 230px;
  line-height: 50px;
  text-align: center;
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 23px;
  margin-bottom: 23px;
}
.gywm__zpgw {
  .container {
    margin-bottom: 160px;
    h3 {
      font-size: 30px;
      font-weight: bold;
      color: #ff0033ff;
      line-height: 78px;
      margin-top: 96px;
      margin-bottom: 47px;
    }
    .zpgw_item {
      position: relative;
      padding: 36px 0;
      border-top: 1px solid #7d7d7d;
      &:last-child {
        border-bottom: 1px solid #7d7d7d;
      }
      h2 {
        font-size: 36px;
        font-weight: 400;
        color: rgba(52, 52, 52, 1);
        line-height: 36px;
      }
      .icon-close {
        position: absolute;
        right: 33px;
        top: 42px;
        @include bgImg(
          20px,
          20px,
          "./../../imgs/contactUs/icon-close.png",
          auto
        );
      }
      .zpgw_pr {
        width: 1200px;
        display: inline-block;
        height: 0;
        opacity: 0;
        margin-top: 0;
        transition: all 0.1s;
        .zpgw_left {
          float: left;
          width: 50%;
          h4 {
            font-size: 24px;
            line-height: 36px;
            color: #343434;
          }
          span {
            font-size: 18px;
            line-height: 36px;
            color: #343434;
            width: 79%;
            display: inline-block;
          }
        }
        .zpgw_right {
          float: left;
          width: 50%;
          input {
            width: 100%;
            height: 50px;
            background-color: #eeeeee;
            border: none;
            margin-bottom: 20px;
            padding-left: 20px;
            color: #343434;
            font-size: 18px;
          }
          textarea {
            width: 100%;
            height: 190px;
            background-color: #eeeeee;
            border: none;
            resize: none;
            padding: 20px;
            color: #343434;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;
          }

          span {
            font-size: 18px;
            font-weight: 300;
            color: #343434;
            margin-bottom: 20px;
            display: inline-block;
            .span_email {
              color: #ff4546;
            }
          }
        }
      }
      .open {
        height: 100%;
        opacity: 1;
        margin-top: 90px;
      }
      .icon-open {
        @include bgImg(
          20px,
          20px,
          "./../../imgs/contactUs/icon-close2.png",
          auto
        );
      }
    }
  }
}

.gywm_hzcx {
  background-color: #222222;
  padding: 170px 0;
  .container {
    h2 {
      font-size: 30px;
      font-weight: bold;
      color: #ff0033;
    }
    .hzcx_ul {
      margin-top: 79px;
      .hzcx_item {
        display: inline-block;
        height: 80px;
        width: calc((100% - 80px) / 2);
        margin-right: 80px;
        margin-bottom: 29px;
        float: left;
        input {
          height: 80px;
          width: 100%;
          padding-left: 29px;
          color: #ffffff;
          font-size: 22px;
          line-height: 36px;
          background-color: #000000;
          border: none;
        }
        &:nth-child(2n) {
          margin-right: 0px;
        }
        //验证码
        &:nth-last-child(3) {
          background-color: #000000;
          input {
            width: calc(100% - 230px);
            float: left;
          }
          .btn {
            float: right;
            line-height: 36px;
          }
        }
        //留言
        &:nth-last-child(2) {
          width: 100%;
          height: 278px;
          textarea {
            width: 100%;
            color: #ffffff;
            font-size: 22px;
            line-height: 36px;
            background-color: #000000;
            border: none;
            resize: none;
            padding: 29px;
            height: 278px;
          }
        }
        &:last-child {
          width: 100%;
          margin-top: 20px;
          span {
            color: #ffffff;
            font-size: 18px;
            line-height: 36px;
            margin-left: 69px;
          }
        }
      }
    }
  }
}
