//flex布局复用
@mixin flex($hov:space-between,$col:center){
  display: flex;
  justify-content: $hov;
  align-items: $col;
}
@mixin bgImg($w:0,$h:0,$url:'',$size:contain){
  display: inline-block;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
@mixin bgImg-height($h:0,$url:'',$size:contain){

  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
@mixin bgImg-fl($w:0,$h:0,$url:'',$size:contain){
  float: left;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
@mixin bgImg-fNoneSize($f:left,$w:0,$h:0,$url:'',$size:contain){
  float: $f;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
}
/**
 鼠标悬浮浮动
 */
@mixin fd(){
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  -webkit-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
/**
定位左边
 */
@mixin position($pos:absolute,$top:0,$left:0,$w:0,$h:0){
  position:$pos;
  top:$top;
  left:$left;
  width:$w;
  height: $h;
}
/**
定位右边
 */
@mixin position-right($pos:absolute,$top:0,$right:0,$w:0,$h:0){
  position:$pos;
  top:$top;
  right: $right;
  width:$w;
  height: $h;
}
@mixin positionImg($pos:absolute,$top:0,$right:0,$w:0,$h:0,$url:'',$size:contain){
  position:$pos;
  top:$top;
  right: $right;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
