body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
a,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  font-family: SimHei, Microsoft Yahei, serif;
  color: #333333;
  background-color: #ffffff;
  min-width: 1226px;
  font-size: 12px;
  max-width: 1920px;
  margin: 0px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
ul,
li {
  list-style: none;
}
input {
  font: normal;
}
input:focus,
a:focus {
  outline: none;
}
/**
a 标签选择的颜色
 */
.cur {
  color: #ff6600 !important;
}
