<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>集团架构</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css" />
    <link rel="stylesheet" type="text/css" href="./../css/sfq.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../css/scss/aboutUs_jtjg.css"
    />
    <script type="text/javascript" src="./../js/modernizr.js"></script>
  </head>
  <body>
    <div class="cd-modal">
      <div class="cd-modal-content">
        <div class="header">
          <div class="nav-header">
            <div class="container">
              <div class="header-logo">
                <a href="./../pages/index.html"></a>
              </div>
              <div class="header-menu">
                <div class="item-index">
                  <span>首页</span>
                </div>
                <div class="item-aboutUs">
                  <span>关于我们</span>
                </div>
                <div class="item-businessScope">
                  <span>业务范围</span>
                </div>
                <div class="item-successfulCase">
                  <span>运营项目</span>
                </div>
                <div class="item-contactUs">
                  <span>联系我们</span>
                </div>
                <div class="item-language">
                  <div class="languageText">English</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jtjg_header"></div>
        <div class="jtjg_ms">
          <div class="container">
            <h2>集团架构</h2>
            <div class="fgx"></div>
            <p>英菲集团——三大业务主线</p>
            <div class="jtjg_par"></div>
          </div>
        </div>
        <div class="jtjg__ry">
          <div class="container">
            <h4>英菲集团——投融资管理业务</h4>
            <div class="pr_ry"></div>
          </div>
        </div>
        <div class="jtjg_fzlc">
          <div class="container">
            <h3>英菲集团——其他业务</h3>
            <div class="bg4"></div>
          </div>
        </div>
        <div class="cooperativeEnterprise">
          <div class="container">
            <h4>合作企业</h4>
            <ul id="jtjg_content"></ul>
          </div>
        </div>
        <div class="footer_item">
          <div class="footer_gsjj">
            <h2>公司简介</h2>
            <section class="cd-section">
              <div class="cd-modal-action">
                <a
                  href="javascript:;"
                  title="公司简介"
                  class="btn"
                  data-type="modal-trigger"
                  data-name="gsjj"
                ></a>
                <span class="cd-modal-bg"></span>
              </div>
              <div class="aboutUs_gsjj"></div>
              <a href="#0" class="cd-modal-close">Close</a>
            </section>
          </div>
          <div class="footer_hxtd">
            <h2>核心团队</h2>
            <section class="cd-section">
              <div class="cd-modal-action">
                <a
                  href="javascript:;"
                  title="核心团队"
                  class="btn"
                  data-type="modal-trigger"
                  data-name="hxtd"
                ></a>
                <span class="cd-modal-bg"></span>
              </div>
              <div class="aboutUs_hxtd"></div>
              <a href="#0" class="cd-modal-close">Close</a>
            </section>
          </div>
        </div>
        <div class="footer">
          <div class="container">
            <div class="social">
              <!-- <span class="xl"></span>
              <span class="in"></span>
              <span class="wx"></span> -->
              <a class="top" href="javascript:;" title="回到顶部"></a>
            </div>
            <div class="footer_title">
              <a href="./../pages/index.html">
                <span>首页</span>
              </a>
              <a href="./../pages/aboutUs.html"><span>关于我们</span></a>
              <a href="./../pages/businessScope.html"><span>业务范围</span></a>
              <a href="./../pages/successfulCase.html"><span>运营项目</span></a>
              <a href="./../pages/contactUs.html"><span>联系我们</span></a>
            </div>
            <div class="cutOffRule"></div>
            <div class="xx_params">
              <ul>
                <li class="sz_address">
                  <div class="sp_address"></div>
                  <span>深圳南山办公地点:</span>
                  <p>深圳市南山去高新园科技南十二路先健科技大厦2005</p>
                </li>
                <li class="bj_address">
                  <div class="sp_address"></div>
                  <span>北京办公地点:</span>
                  <p>北京市朝阳区亮马桥路42好光明大厦0311室</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>香港办公地点:</span>
                  <p>香港中环德辅道中19号环球大厦602-603室</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>深圳办公地点:</span>
                  <p>深圳市南山区留仙大道南山智园崇文园区2号楼19层</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>北京办公地点:</span>
                  <p>北京市朝阳区朝阳公园南路10号骏豪中央广场A1号楼14层</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>香港办公地点:</span>
                  <p>香港湾仔分域街18号捷利中心11楼04室</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- cd-modal-content -->
    </div>
    <!-- cd-modal -->
    <script type="text/javascript" src="./../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="./../js/velocity.min.js"></script>
    <script type="text/javascript" src="./../js/aboutUs.js"></script>
    <script>
      $(".NavHeader").load("./../components/NavHeader.html");
      $(".NavFooter").load("./../components/NavFooter.html");
      // $('.aboutUs_hxtd').load("./../components/aboutUs_hxtd.html");
      // $('.aboutUs_jtjg').load("./../components/aboutUs_jtjg.html");
      $("#jtjg_content").remove();
      for (let i = 1; i <= 25; i++) {
        const url = "./../imgs/aboutUs/qy/q" + i + ".png";
        $("#jtjg_content").append(
          '<li class="item" ><div style="background: url(' +
            url +
            ') no-repeat center"></div></li>'
        );
      }
      $(".cooperativeEnterprise ul li:nth-child(4n)").css("margin-right", "0");
    </script>
  </body>
</html>
