<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>公司简介</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css" />
    <link rel="stylesheet" type="text/css" href="./../css/sfq.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../css/scss/aboutUs_gsjj.css"
    />
    <script type="text/javascript" src="./../js/modernizr.js"></script>
  </head>
  <body>
    <div class="cd-modal">
      <div class="cd-modal-content">
        <div class="header">
          <div class="nav-header">
            <div class="container">
              <div class="header-logo">
                <a href="./../pages/index.html"></a>
              </div>
              <div class="header-menu">
                <div class="item-index">
                  <span>首页</span>
                </div>
                <div class="item-aboutUs">
                  <span>关于我们</span>
                </div>
                <div class="item-businessScope">
                  <span>业务范围</span>
                </div>
                <div class="item-successfulCase">
                  <span>运营项目</span>
                </div>
                <div class="item-contactUs">
                  <span>联系我们</span>
                </div>
                <div class="item-language">
                  <div class="languageText">English</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gjss_header">
          <div class="container">
            <h2>
              财富之生长不仅不系乎富人之节约，<br />
              反之，<br />
              恐反遭此种节约之阻挠。
            </h2>
          </div>
        </div>
        <div class="gjss_ms">
          <div class="container">
            <h2>公司简介</h2>
            <div class="fgx"></div>

            <div class="gjss_par">
              <div class="div_imgs"></div>
              <div class="div_ms">
                <!-- <h4>深圳英菲资本管理有限公司</h4> -->
                <span
                  >英菲资本（INFINITY
                  CAPITAL），成立于2015年，为客户提供投资咨询及融资策划为主的专业资产管理机构。
                </span>
                <span>
                  自首家英菲公司 ──
                  “深圳英菲资本管理有限公司”成立以来，公司一直秉承“诚信、专业、共赢、高效”的经营理念，凭借雄厚的管理能力和经验、丰富的信息渠道和资源，赢得了国内外多家知名企业、上市公司以及财团的信任与支持。
                  <br /><br /><br />
                  公司业务开展主要由中港两地及海归华人精英团队负责执行，透过全球金融资本运作，为各类型项目提供可行的投资策划、融资方案、项目管理、并购重组及上市规划等各类型服务；团队高瞻远瞩，精挑细选优质可行项目以自有资金进行起动投资，为项目发掘更多可能性，为资金寻找持续增长机会。
                  <br /><br /><br />
                  在过去的几年，集团所投资及管理的项目，平均增长不低于500%。集团在短短时间内有此骄人成绩，更是激发公司上下动力向前，为投资者及项目方创造永久共赢！
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="gjss_ry">
          <div class="container">
            <h4>英菲资本集团控股有限公司</h4>
            <p class="pr_ms">
              截至2018年底，在短短几年间，公司被授权及委托管理的项目超过100宗，总规模高达300亿元人民币。<br />
              其中融资及投资项目超过50亿元；管理运作私募基金逾10只，规模逾5亿元。<br />
              当中涉及新能源、高新科技、人工智能、电子商贸、食品贸易、文娱体育及地产并购等多个领域。<br />
            </p>
            <div class="pr_ry">
              <div>
                <p><span>100</span>+</p>
                <p>托管项目</p>
              </div>
              <div>
                <p><span>300</span>亿</p>
                <p>总规模</p>
              </div>
              <div>
                <p><span>50</span>亿</p>
                <p>融资总额</p>
              </div>
              <!-- <div>
                <p><span>5</span>亿</p>
                <p>管理运作总额</p>
              </div> -->
            </div>
          </div>
        </div>
        <div class="gjss_fzlc">
          <div class="container">
            <h3>发展历程</h3>
            <span class="fgx"></span>
            <p class="ms_p">
              香港及大陆参股或全资持股的机构高达20余家，并持续增加。2020年底前，公司决心打造4家以上于不同股票市场上市的主体
            </p>
            <div class="timeline">
              <div class="wrapper clearfix-time">
                <ul class="clearfix-time">
                  <li>
                    <h4 class="f30">2015</h4>
                    <span class="f14">
                      2015年8月25日， 英菲正式创立<br />
                      2015年12月， 为香港及中国大陆企业提供<br />
                      投资及融资咨询服务<br />
                    </span>
                    <img src="./../imgs/aboutUs/gsjj/h1.png" />
                  </li>
                  <li>
                    <h4 class="f30">2016</h4>
                    <span class="f14">
                      2016年6月，与香港上市公司合作，提供并购顾问服务<br />
                      2016年7月，首次为国内私募基金提供证券投资顾问服务<br />
                      2016年10月，与香港著名上市公司达成合作，开展并购顾问服务<br />
                    </span>
                    <img src="./../imgs/aboutUs/gsjj/h2.png" />
                  </li>
                  <li>
                    <h4 class="f30">2017</h4>
                    <span class="f14">
                      2017年6月，收购国内私募证券投资基金管理公司<br />
                      2017年9月，联合美国上市公司收购香港新界打鼓岭农地<br />
                      2017年10月，收购国内私募股权投资基金管理公司<br />
                      2017年10月，与香港及国内著名投资人联合投资国内<br />
                      干热岩清洁能源发电项目<br />
                    </span>
                    <img src="./../imgs/aboutUs/gsjj/h3.png" />
                  </li>
                  <li>
                    <h4 class="f30">2018</h4>
                    <span class="f14">
                      2018年1月，与新加波南洋理工大学人工智能团队合作，
                      开发人工智能炒股及数字货币对冲系统<br />
                      2018年5月，与香港上市公司共同投资香港电子支付业务<br />
                      2018年6月，成功收购北京顺义区四季滑雪场项目<br />
                      2018年7月，与韩国上市公司共同投资跨境电子支付业务<br />
                    </span>
                    <img src="./../imgs/aboutUs/gsjj/h4.png" />
                  </li>
                </ul>
                <div class="future">未来</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cooperativeEnterprise">
          <div class="container">
            <h4>合作机构</h4>
            <ul class="gsjj_content"></ul>
          </div>
        </div>
        <div class="footer_item">
          <div class="footer_hxtd">
            <h2>核心团队</h2>
            <section class="cd-section">
              <div class="cd-modal-action">
                <a
                  href="javascript:;"
                  title="核心团队"
                  class="btn"
                  data-type="modal-trigger"
                  data-name="hxtd"
                ></a>
                <span class="cd-modal-bg"></span>
              </div>
              <div class="aboutUs_hxtd"></div>
              <a href="#0" class="cd-modal-close">Close</a>
            </section>
          </div>
          <div class="footer_jtjg">
            <h2>集团架构</h2>
            <section class="cd-section">
              <div class="cd-modal-action">
                <a
                  href="javascript:;"
                  title="集团架构"
                  class="btn"
                  data-type="modal-trigger"
                  data-name="jtjg"
                ></a>
                <span class="cd-modal-bg"></span>
              </div>
              <div class="aboutUs_jtjg"></div>
              <a href="#0" class="cd-modal-close">Close</a>
            </section>
          </div>
        </div>
        <div class="footer">
          <div class="container">
            <div class="social">
              <!-- <span class="xl"></span>
              <span class="in"></span>
              <span class="wx"></span> -->
              <a class="top" href="javascript:;" title="回到顶部"></a>
            </div>
            <div class="footer_title">
              <a href="./../pages/index.html">
                <span>首页</span>
              </a>
              <a href="./../pages/aboutUs.html"><span>关于我们</span></a>
              <a href="./../pages/businessScope.html"><span>业务范围</span></a>
              <a href="./../pages/successfulCase.html"><span>运营项目</span></a>
              <a href="./../pages/contactUs.html"><span>联系我们</span></a>
            </div>
            <div class="cutOffRule"></div>
            <div class="xx_params">
              <ul>
                <li class="sz_address">
                  <div class="sp_address"></div>
                  <span>深圳南山办公地点:</span>
                  <p>深圳市南山去高新园科技南十二路先健科技大厦2005</p>
                </li>
                <li class="bj_address">
                  <div class="sp_address"></div>
                  <span>北京办公地点:</span>
                  <p>北京市朝阳区亮马桥路42好光明大厦0311室</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>香港办公地点:</span>
                  <p>香港中环德辅道中19号环球大厦602-603室</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>深圳办公地点:</span>
                  <p>深圳市南山区留仙大道南山智园崇文园区2号楼19层</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>北京办公地点:</span>
                  <p>北京市朝阳区朝阳公园南路10号骏豪中央广场A1号楼14层</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>香港办公地点:</span>
                  <p>香港湾仔分域街18号捷利中心11楼04室</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- cd-modal-content -->
    </div>
    <!-- cd-modal -->
    <script type="text/javascript" src="./../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="./../js/velocity.min.js"></script>
    <script type="text/javascript" src="./../js/aboutUs.js"></script>
    <script>
      // $('.NavHeader').load("./../components/NavHeader.html");
      // $('.NavFooter').load("./../components/NavFooter.html");
      //$('.gsjj_content').remove();
      for (let i = 1; i <= 25; i++) {
        const url = "./../imgs/aboutUs/qy/q" + i + ".png";
        $(".gsjj_content").append(
          '<li class="item" ><div style="background: url(' +
            url +
            ') no-repeat center"></div></li>'
        );
      }
      $(".cooperativeEnterprise ul li:nth-child(4n)").css("margin-right", "0");
    </script>
  </body>
</html>
