<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>核心团队</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css" />
    <link rel="stylesheet" type="text/css" href="./../css/sfq.css" />
    <script type="text/javascript" src="./../js/modernizr.js"></script>
  </head>
  <body>
    <div class="cd-modal">
      <div class="cd-modal-content">
        <div class="header">
          <div class="nav-header">
            <div class="container">
              <div class="header-logo">
                <a href="./../pages/index.html"></a>
              </div>
              <div class="header-menu">
                <div class="item-index">
                  <span>首页</span>
                </div>
                <div class="item-aboutUs">
                  <span>关于我们</span>
                </div>
                <div class="item-businessScope">
                  <span>业务范围</span>
                </div>
                <div class="item-successfulCase">
                  <span>运营项目</span>
                </div>
                <div class="item-contactUs">
                  <span>联系我们</span>
                </div>
                <div class="item-language">
                  <div class="languageText">English</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solution-item">
          <ul id="solution-ul">
            <li class="item_1">
              <div class="description description-current">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
            <li class="item_2">
              <div class="description">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
            <li class="item_3">
              <div class="description">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
            <li class="item_4">
              <div class="description">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
            <li class="item_5">
              <div class="description">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
            <li class="item_6">
              <div class="description">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
            <li class="item_7">
              <div class="description">
                <img src="../imgs/aboutUs/rw.png" alt="核心团队" />
              </div>
            </li>
          </ul>
          <div class="solution-item-right">
            <div class="jz">
              <p><span class="index_span">1</span> / 12</p>
              <a href="javascript:;" id="prev"> < </a>&emsp;
              <a href="javascript:;" id="next"> > </a>
            </div>
          </div>
        </div>
        <div class="cutOffRule"></div>
        <div class="team">
          <div class="container">
            <h4>星级顾问团队</h4>
            <ul>
              <li>
                <div class="r1"></div>
                <h3>徐志贤</h3>
                <p>逾30年投资及银行业经验</p>
              </li>
              <li>
                <div class="r2"></div>
                <h3>关治平</h3>
                <p>工程师 / 香港太平绅士</p>
              </li>
              <li>
                <div class="r3"></div>
                <h3>卫政邦</h3>
                <p>香港建筑师学会注册建筑师</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="member">
          <div class="container">
            <h4>集团核心成员</h4>
            <ul>
              <li>
                <div class="r4"></div>
                <h3>周祐德</h3>
                <p>董事总经理 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r5"></div>
                <h3>凌楚龙</h3>
                <p>执行董事 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r4"></div>
                <h3>周祐德</h3>
                <p>董事总经理 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r5"></div>
                <h3>凌楚龙</h3>
                <p>执行董事 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r4"></div>
                <h3>周祐德</h3>
                <p>董事总经理 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r5"></div>
                <h3>凌楚龙</h3>
                <p>执行董事 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r4"></div>
                <h3>周祐德</h3>
                <p>董事总经理 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r5"></div>
                <h3>凌楚龙</h3>
                <p>执行董事 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r4"></div>
                <h3>周祐德</h3>
                <p>董事总经理 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r5"></div>
                <h3>凌楚龙</h3>
                <p>执行董事 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r4"></div>
                <h3>周祐德</h3>
                <p>董事总经理 / 英菲创办人之一</p>
              </li>
              <li>
                <div class="r5"></div>
                <h3>凌楚龙</h3>
                <p>执行董事 / 英菲创办人之一</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="cooperativeEnterprise">
          <div class="container">
            <h4>合作企业</h4>
            <ul id="hxtd_content"></ul>
          </div>
        </div>
        <div class="footer_item">
          <div class="footer_gsjj">
            <h2>公司简介</h2>
            <section class="cd-section">
              <div class="cd-modal-action">
                <a
                  href="javascript:;"
                  title="公司简介"
                  class="btn"
                  data-type="modal-trigger"
                  data-name="gsjj"
                ></a>
                <span class="cd-modal-bg"></span>
              </div>
              <div class="aboutUs_gsjj"></div>
              <a href="#0" class="cd-modal-close">Close</a>
            </section>
          </div>
          <div class="footer_jtjg">
            <h2>集团架构</h2>
            <section class="cd-section">
              <div class="cd-modal-action">
                <a
                  href="javascript:;"
                  title="集团架构"
                  class="btn"
                  data-type="modal-trigger"
                  data-name="jtjg"
                ></a>
                <span class="cd-modal-bg"></span>
              </div>
              <div class="aboutUs_jtjg"></div>
              <a href="#0" class="cd-modal-close">Close</a>
            </section>
          </div>
        </div>
        <div class="footer">
          <div class="container">
            <div class="social">
              <a class="top" href="javascript:;" title="回到顶部"></a>
            </div>
            <div class="footer_title">
              <a href="./../pages/index.html">
                <span>首页</span>
              </a>
              <a href="./../pages/aboutUs.html"><span>关于我们</span></a>
              <a href="./../pages/businessScope.html"><span>业务范围</span></a>
              <a href="./../pages/successfulCase.html"><span>运营项目</span></a>
              <a href="./../pages/contactUs.html"><span>联系我们</span></a>
            </div>
            <div class="cutOffRule"></div>
            <div class="xx_params">
              <ul>
                <li class="sz_address">
                  <div class="sp_address"></div>
                  <span>深圳南山办公地点:</span>
                  <p>深圳市南山去高新园科技南十二路先健科技大厦2005</p>
                </li>
                <li class="bj_address">
                  <div class="sp_address"></div>
                  <span>北京办公地点:</span>
                  <p>北京市朝阳区亮马桥路42好光明大厦0311室</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>香港办公地点:</span>
                  <p>香港中环德辅道中19号环球大厦602-603室</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>深圳办公地点:</span>
                  <p>深圳市南山区留仙大道南山智园崇文园区2号楼19层</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>北京办公地点:</span>
                  <p>北京市朝阳区朝阳公园南路10号骏豪中央广场A1号楼14层</p>
                </li>
                <li class="hg_address">
                  <div class="sp_address"></div>
                  <span>香港办公地点:</span>
                  <p>香港湾仔分域街18号捷利中心11楼04室</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- cd-modal-content -->
    </div>
    <!-- cd-modal -->
    <script type="text/javascript" src="./../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="./../js/velocity.min.js"></script>
    <script type="text/javascript" src="./../js/aboutUs.js"></script>
    <script>
      $(".NavHeader").load("./../components/NavHeader.html");
      $(".NavFooter").load("./../components/NavFooter.html");

      // $(function(){
      $("#hxtd_content").remove();
      for (let i = 1; i <= 25; i++) {
        const url = "./../imgs/aboutUs/qy/q" + i + ".png";
        $("#hxtd_content").append(
          '<li class="item" ><div style="background: url(' +
            url +
            ') no-repeat center"></div></li>'
        );
      }
      $(".cooperativeEnterprise ul li:nth-child(4n)").css("margin-right", "0");
      // });

      var index = 1;
      $("#prev").click(function () {
        $(".solution-item li").stop(true, true);
        let o = document.getElementById("solution-ul");
        let width = o.clientWidth || o.offsetWidth;
        if (index !== 1) {
          index = index - 1;
          $(".index_span").html(index);
          $(".item_" + index)
            .animate({ width: width }, 500)
            .siblings("li")
            .animate({ width: "0px" }, 500);
        }
      });
      $("#next").click(function () {
        $(".solution-item li").stop(true, true);
        let o = document.getElementById("solution-ul");
        let width = o.clientWidth || o.offsetWidth;
        if (index < 12) {
          index = index + 1;
          console.log(index);
          $(".index_span").html(index);
          $(".item_" + index)
            .animate({ width: width }, 500)
            .siblings("li")
            .animate({ width: "0px" }, 500);
        }
      });
    </script>
  </body>
</html>
