<!--
 * @Description: 这里输入文件功能
 * @Author: zhoupeng
 * @Date: 2020-02-25 09:59:06
 * @LastEditTime: 2020-05-17 11:03:32
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./../css/scss/base.css" />
    <link rel="stylesheet" type="text/css" href="./../css/scss/navFooter.css" />
  </head>
  <body>
    <div class="footer">
      <div class="container">
        <div class="social">
          <!-- <span class="xl"></span>
          <span class="in"></span>
          <span class="wx"></span> -->
          <a class="top" href="javascript:;" title="回到顶部"></a>
        </div>
        <div class="footer_title">
          <a href="./../pages/index.html">
            <span>首页</span>
          </a>
          <a href="./../pages/aboutUs.html"><span>关于我们</span></a>
          <a href="./../pages/businessScope.html"><span>业务范围</span></a>
          <a href="./../pages/successfulCase.html"><span>运营项目</span></a>
          <a href="./../pages/contactUs.html"><span>联系我们</span></a>
        </div>
        <div class="cutOffRule"></div>
        <div class="xx_params">
          <ul>
            <li class="sz_address">
              <div class="sp_address"></div>
              <span>深圳南山办公地点:</span>
              <p>深圳市南山去高新园科技南十二路先健科技大厦2005</p>
            </li>
            <li class="bj_address">
              <div class="sp_address"></div>
              <span>北京办公地点:</span>
              <p>北京市朝阳区亮马桥路42好光明大厦0311室</p>
            </li>
            <li class="hg_address">
              <div class="sp_address"></div>
              <span>香港办公地点:</span>
              <p>香港中环德辅道中19号环球大厦602-603室</p>
            </li>
            <li class="hg_address">
              <div class="sp_address"></div>
              <span>深圳办公地点:</span>
              <p>深圳市南山区留仙大道南山智园崇文园区2号楼19层</p>
            </li>
            <li class="hg_address">
              <div class="sp_address"></div>
              <span>北京办公地点:</span>
              <p>北京市朝阳区朝阳公园南路10号骏豪中央广场A1号楼14层</p>
            </li>
            <li class="hg_address">
              <div class="sp_address"></div>
              <span>香港办公地点:</span>
              <p>香港湾仔分域街18号捷利中心11楼04室</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
