<!--
 * @Description: 这里输入文件功能
 * @Author: zhoupeng
 * @Date: 2020-02-25 09:59:06
 * @LastEditTime: 2020-06-16 20:02:37
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="./../css/scss/base.css" />
    <link rel="stylesheet" type="text/css" href="./../css/scss/navHeader.css" />
  </head>
  <body>
    <div class="header">
      <div class="nav-header">
        <div class="nav-container">
          <div class="header-logo">
            <a href="./../pages/index.html"></a>
          </div>
          <div class="header-menu">
            <div class="item-index">
              <span>首页</span>
            </div>
            <div class="item-aboutUs">
              <span>关于我们</span>
            </div>
            <div class="item-businessScope">
              <span>业务范围</span>
            </div>
            <div class="item-successfulCase">
              <span>营运项目</span>
            </div>
            <div class="item-contactUs">
              <span>联系我们</span>
            </div>
            <div class="item-language">
              <div class="languageText">ENGLISH</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="./../js/navHeader.js"></script>
  </body>
</html>
